html {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-color: rgba(245, 245, 245, 0.91);
}

.mainBox {
    border: 20px solid;
    border-bottom: 70px solid;
    margin: 2rem;
    width: 300px;
    height: 300px;
    color: white;
    background-color: whitesmoke;
    margin-bottom: 2rem;
    box-shadow: 0.5rem .5rem 1.5rem darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    color:black;
    font-size: xx-large;
    font-weight: bold;
}

.colorButton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: darkgrey .5rem .2rem .5rem .2rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 150px;
}

.colorButton:hover {
  background-color: #f7fafa;
}

.colorButton:active {
  background-color: rgba(206, 201, 201, 0.911);
  box-shadow: 2px 2px 2px 2px #848383;
  transform: translateY(4px);
}

.urButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27rem;
    margin-top: .1rem;
}

.undoButton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 15px;
  box-shadow: darkgrey .5rem .2rem .5rem .2rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 70px;
}

.undoButton:hover {
  background-color: #f7fafa;
}

.undoButton:active {
  background-color: rgba(206, 201, 201, 0.911);
  box-shadow: 2px 2px 2px 2px #848383;
  transform: translateY(4px);
}

.redoButton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 15px;
  box-shadow: darkgrey .5rem .2rem .5rem .2rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 70px;
}

.redoButton:hover {
  background-color: #f7fafa;
}

.redoButton:active {
  background-color: rgba(206, 201, 201, 0.911);
  box-shadow: 2px 2px 2px 2px #848383;
  transform: translateY(4px);
}

.arrayHolder {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40rem;
}

.undoHolder {
  display: grid;
  grid-template-rows: repeat(5, 50px);
}

.undoHolder .item {
    display: list-item;
    cursor: move;
    list-style: none;
    margin-bottom: 1rem;
    justify-content: left;
}

.redoHolder {
  display: grid;
  grid-template-rows: repeat(5, 50px);
}

.redoHolder .item {
    display: list-item;
    cursor: move;
    list-style: none;
    margin-bottom: 1rem;
    justify-content: left;
}

.colorElement {
    border: 1px solid;
    width: 45px;
    height: 45px;
    border-radius: 15%;
    margin: 1rem;
}

.dragging {
    opacity: 0.5;
}

@media (max-width: 500px){
    html {
        font-size: 37.5%;
    }

    .mainbox {
        width: 50px;
        height: 50px;
        border: 10px solid;
        border-bottom: 30px solid;
        margin: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0.5rem .5rem 1.5rem darkgray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}