*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.mainBox {
    border: 2px solid;
    margin: 20px;
    width: 300px;
    height: 300px;
    color: black;
    margin-bottom: 20px;
}

.counter {
    color:red;
    width: 100px;
    height: 70px;
    margin: 100px;
    border: 2px solid;
}

.secondaryBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.colorButton {
    color: green;
    padding: 10px 10px;

}

.urButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}

.undoButton {
    color: green;
    padding: 10px 10px;
}

.redoButton {
    color: green;
    padding: 10px 10px;
}

.undoBox {
    border: 2px solid;
    margin: 20px;
    width: 100px;
    height: 100px;
    color: black;
    margin-bottom: 20px;
}

.redoBox {
    border: 2px solid;
    margin: 20px;
    width: 100px;
    height: 100px;
    color: black;
    margin-bottom: 20px;
}

.arrayHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    margin-top: 3px;
}

.undoHolder {
    display: flex;
    gap: 5px;
}

.redoHolder {
    display: flex;
    gap: 5px;
}

.undoArr {
    border: 2px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.redoArr {
    border: 2px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}